<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />
<div th:if="${id} != null">
    <p th:text="'Id'+ ${id} " />
</div>
<p th:text=" 'Emri: '+ ${name} " />
<p th:text=" 'Mbiemri'+${surname} " />
<p th:text=" ${email} " />
<p th:text=" ${username} " />
<p th:text=" ${password} " />
<p th:text=" 'Id e kategorise'+${id1} " />
<p th:text=" ${title} " />
<p th:text=" ${description} " />


</body>
</html>